<div style="background-color: #e0f0d8; padding:30px;">

  <h2 style="font-weight: 800; color:#3c743d;">Hello, Welcome to <b>Public Lab <%= @user.username%></b> !</h2>
  <p style="color:green;">
    This is your dashboard, where recent updates from other community members show up. It's helpful to keep up to date with new progress, news, and recent developments.
    <br>
    But to get started at Public Lab, try:
    <br><br>
  </p>
  <p>
    <a style="padding:10px; background-color:white; text-decoration:none; color:black;" href="https://publiclab.org/questions" target="_blank">Asking a question</a>

    <a style="padding:10px; background-color:white; text-decoration:none; margin-left:14px; color:black;" href="https://publiclab.org/methods" target="_blank">Exploring projects</a>
  </p>
</div>
